@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@
    <div class="page">
        <main>
            <div class="row-top">
                <div class="row">
                    <div class="col-md-4 subcategory">
                        <a href="/subcategory">Subcategory</a>
                    </div>
                    <div class="col-md-4 align-center">
                        <a href="/"><h1>Super Market Management</h1></a>
                    </div>
                    <div class="col-md-4 text-end">
                        <a href="/cart"> <span class="bi bi-cart3 cart"></span></a>  
                    </div>
                    </div>
                </div>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
