@page "/subcategory-detail"
    @*<pageTitle>Subcategory Detail</pageTitle>*@

<div class="container text-center">
    <div class="md-3">
        <img src="/images/Banana.jpg" style="width:30%" alt="Banana" />
        <div class="item-name"> Bananas</div>
        <div class="price">1.76</div>
        <div class="row">
            <div class="col-md-6 text-end">
                <label>Quantity</label>
            </div>
            <div class="col-md-2 text-start">
                <input type="number" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-end">
            </div>
            <div class="col-md-2 text-start">
                <button class="btn btn-primary">Add </button>
            </div>
        </div>
        </div>
    </div>
