@page "/subcategory"
@{ 
    var Pagetitle = "SubCategory";
}
<h2 class="text-center">SubCategory</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 text-center">
            <a href="/subcategory-detail"><img src="/images/Banana.jpg" style="width:50%" alt="Banana" /></a>
            <div class="item-name"> Bananas</div>
            <div class="price">1.76</div>
        </div>
        <div class="col-md-3 text-center">
            <a href="/subcategory-detail"> <img src="/images/Apple.jpg" style="width:50%" alt="Apple" /></a>
                <div class="item-name">
                    Apple
                </div>
                <div class="price">2.5</div>
</div>
        <div class="col-md-3 text-center">
            <a href="/subcategory-detail"><img src="/images/Kiwi.jpg" style="width:50%" alt="Kiwi" /></a>
                <div class="item-name">
                    Kiwi
                </div>
                <div class="price">3</div>
</div>
        <div class="col-md-3 text-center">
            <a href="/subcategory-detail"><img src="/images/Cucumbers.jpg" style="width:50%" alt="Cumcumber" /></a>
                <div class="item-name">
                    Cumcumber
                </div>
                <div class="price">3</div>
</div>
        <div class="col-md-3 text-center">
            <a href="/subcategory-detail"><img src="/images/Peppers.jpg" style="width:50%" alt="Peppers" /></a>
                <div class="item-name">
                    Peppers
                </div>
                <div class="price">3.5</div>
</div>
        <div class="col-md-3 text-center">
            <a href="/subcategory-detail"><img src="/images/Tomatoes.jpg" style="width:50%" alt="Tomatoes" /></a>
            <div class="item-name">
                Tomatoes
            </div>
            <div class="price">2.3</div>
        </div>
        <div class="col-md-3 text-center">
            <a href="/subcategory-detail"><img src="/images/Potatoes.jpg" style="width:50%" alt="Potatoes" /></a>
            <div class="item-name">
                Potatoes
            </div>
            <div class="price">4.6</div>
        </div>
    </div>
</div>
